html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* 针对小屏幕设备的样式调整 */
@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}

canvas {
  display: block;
}
